.card {
  border-radius: 12px;
  width: 280px;
  height: 320px;
  background-color: rgb(216, 216, 216);
  cursor: pointer;
}

.hidden-card {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.hidden-card h1 {
  margin: auto;
  color: red;
  font-size: 8.3rem;
}

.flipped-side {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flipped-side img {
  width: 120px;
  height: 120px;
}

.flipped-side h1 {
  color: black;
}

.card.flipped {
  cursor: default;
  opacity: 0.7;
}

.card.flipped {
  pointer-events: none;
}
